#banner {


    >div:first-of-type {

        background-image: url($assets_path+'images/backhome.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 738px;

        #datos-banner {
            p {
                margin: 28px 0;
                width: 50%;
                font-weight: 300;
                @extend .h4;
                color: #fff;

                @media (max-width: 992px) {
                    width: 100%;
                    margin: 21px 0;
                }
            }

            h1 {
                font-weight: 700;
                @extend .h1;
                @include family('Montserrat');
                color: #fff;
                padding: 100px 0 0px 0;

                @media (max-width: 767px) {
                    padding: 50px 0 0px 0;
                }
            }

            a {
                display: inline-block;

                @media (max-width: 992px) {
                    margin: 21px 0;
                }

                @extend .btn-theme-big-icon;
            }
        }
    }

    #cards {
        margin-top: -250px;

        @media (max-width: 992px) {
            margin-top: -300px;
        }


        >div {
            display: flex;

            @media (max-width: 1200px) {
                flex-wrap: wrap;
            }

            >div {


                color: #fff;

                .contenido {
                    position: relative;
                    padding: 60px 60px 60px 81px;

                    i {
                        position: absolute;
                        top: 80px;
                        left: 20px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 50px;
                    }

                    h3 {
                        @extend .h3;
                        @include family('Montserrat');
                        font-weight: 400;

                        @media (max-width: 768px) {
                            font-size: $h4-font-size;
                        }
                    }

                    p {
                        margin-top: 7px;
                    }
                }

                &.contador-actualizado {
                    background-color: $primary;
                }

                &.contador-comprometido {
                    background-color: $primary-800;
                }

                &.contador-confianza {
                    background-color: $primary-900;
                }


            }
        }
    }

}



.banner-style {
    color: #fff;
    padding: 70px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        @extend .h1;
        @include family('Montserrat');
    }

    p {
        @extend .h4;
        font-weight: 300;
        width: 50%;
        margin: 21px 0;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
    }
}
