
#contacto {
    padding: 70px 0;
    background-color: $bgbody;
    color: $primary;

    #form-contacto {
        background-color: #fff;
        padding: 30px;
        width: 100%;
    }


    h3 {
        @extend .h4;
        font-weight: 500;
        @include family('Montserrat');
    }



    .input {
        padding: 15px 0;

        label {
            font-weight: 500 !important;
            margin-bottom: 7 !important;

            span {
                font-weight: 700;
            }
        }
    }

    .input-check {
        margin-top: 15px;

        @media (min-width: 992px) {
            margin-top: 42px;
        }

        display: flex;
        align-items: center;

        label {
            position: relative;
            width: 96%;
            left: 10px;

            @media (min-width: 992px) {
                width: 90%;
            }
        }

        a {
            font-weight: 600;
            text-decoration: none;

            &:hover {
                color: $secundario;
            }
        }
    }


    #datos-mapa {
        padding: 30px 0;

        .datos {
            .dato {
                display: flex;
                align-items: center;

                padding: 12px 0;

                i {
                    font-size: 1.5rem;
                }
            }

            p {
                margin: 0;
                padding-left: 14px;
            }
        }

        iframe {
            padding-top: 21px;
            width: 100%;
            height: 450px;

            @media (max-width: 768px) {
                height: 250px;
            }
        }
    }
}
