@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@mixin family($fuente:'Roboto') {
    font-family: $fuente, sans-serif;
}

$base: 16px !default;


/*variables de fuente*/

@function exponente($exponent) {
    $value: 1;

    @if $exponent>0 {
        @for $i from 1 through $exponent {
            $value: $value * 1.200;
        }
    }

    @return $value;
}

$small: $base / exponente(1);
$smaller: $base / exponente(2);
$h1-font-size: $base * exponente(5);
$h2-font-size: $base * exponente(4);
$h3-font-size: $base * exponente(3);
$h4-font-size: $base * exponente(2);
$h5-font-size: $base * exponente(1);
$normal: $base;

@mixin font-size($size:16px, $line:1, $weight:400) {
    font-size: $size;
    line-height: #{$line}rem;
    font-weight: $weight;
    padding: 0;
    margin: 0;
}

/*font size for root REM*/
html {
    @include family;
    @include font-size($normal, 1.5);
}


.normal {
    @include font-size($normal, 1.5);
}

.small {
    @include font-size($small, 1.125);
}

.smaller {
    @include font-size($smaller, 1);
}

.h1 {
    @include font-size($h1-font-size, 3.5, 700);
}

.h2 {
    @include font-size($h2-font-size, 2.75, 700);
}

.h3 {
    @include font-size($h3-font-size, 2.5, 700);
}


.h4 {
    @include font-size($h4-font-size, 2, 600);
}


.h5 {
    @include font-size($h5-font-size, 1.5, 500);
}

/**ajustando fuentes para dispositivos pequeños */
@media (max-width: 768px) {
    .h1 {
        @include font-size($h3-font-size, 2.5, 700);
    }

    .h2 {
        @include font-size($h4-font-size, 2, 600);
    }

    .h3 {
        @include font-size($h5-font-size, 1.5, 500);
    }

    .h4 {
        @include font-size($normal, 1.5);
    }

    .h5 {
        @include font-size($normal, 1.5);
    }
}

@media (max-width: 992px) {
    .h1 {
        @include font-size($h2-font-size, 2.75, 700);
    }

    .h2 {
        @include font-size($h3-font-size, 2.5, 700);
    }

    .h3 {
        @include font-size($h4-font-size, 2, 600);
    }

    .h4 {
        @include font-size($h5-font-size, 1.5, 500);
    }

    .h5 {
        @include font-size($normal, 1.5);
    }
}
