#footer-page {
    padding-top: 70px;
    background-color: $primary;
    color: #fff;


    #site-footer {
        display: flex;
        justify-content: space-between;

        #logo-footer {
            width: 201px;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;

            #logo-footer {
                display: none;
            }
        }

        @media (max-width: 768px) {
            display: block;

            .dato:not(:first-child) {
                padding-top: 21px;
            }

        }





        .dato {

            .menu {
                list-style: none;
                padding: 0;
                margin-top: 14px;

                li {
                    padding: 7px 0;

                    a {
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            color: $secundario;
                        }
                    }
                }

                &.datos-contacto {
                    img {
                        width: 36px;
                    }
                }

                .redes-sociales {
                    display: flex;
                    justify-content: flex-start;

                    a:not(:first-child) {
                        margin-left: 14px;
                    }
                }
            }

            h5 {
                @extend .h5;
                @include family('Montserrat');
                font-weight: 500;
            }
        }
    }


    #copyright-developer {
        border-top: 1px solid #fff;
        padding: 35px 0;
        text-align: center;
        margin-top: 14px;
    }
}



#whats {
    position: fixed;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}
