/*=============================================
=            Section comment block            =
=============================================*/
#header-datos {
    padding: 24px 0;
    margin: 0;
    list-style-type: none;
    width: 100%;

    li {
        display: block;
        color: #fff;
        text-align: center;

        a {
            color: #fff;
            line-height: 24px;
            text-decoration: none;
        }

        i {
            padding-right: 7px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #header-datos {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        li {
            padding: 0;
        }
    }
}

/*=====  End of Section comment block  ======*/


header {
    padding: 28px 0;
    z-index: 2 !important;
}




#wrapper-navbar {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #main-nav {
        padding: 0;
        width: 60%;

        #main-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;

            >li {
                &.active {
                    &:not(:last-child) {
                        border-bottom: 2px solid $secundario;
                    }
                }

                a {
                    &:after {
                        position: relative;
                        color: $primary;
                        font-size: 1.5rem;

                        top: 5px;
                        left: 5px;
                    }

                    padding: 7px 8px;

                    &:hover {
                        color: $secundario;
                        font-weight: 700;

                        &::after {
                            color: $secundario;
                        }
                    }
                }



                &:last-child {
                    a {
                        @extend .btn-theme;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                ul {
                    background-color: $primary;
                    padding: 0;
                    border-radius: 0;
                    border: none;
                    width: 277px;
                    margin-top: 10px;

                    li {
                        a {
                            color: #fff;
                            padding: 10px;
                            text-transform: capitalize;
                            font-weight: 500;

                            &:hover {
                                background-color: #fff;
                                color: $secundario;


                            }
                        }
                    }
                }
            }
        }
    }
}


/*=============================================
=            Section estilos cuando hace scroll block            =
=============================================*/

#logo-monocolor {
    display: none;
}

.estilos_header_on_scroll {
    #logo-blue {
        display: none;
    }

    #logo-monocolor {
        display: initial;
    }

    position: fixed !important;
    width: 100%;
    top: 0;
    -webkit-transition: all .8s; // Chrome
    -moz-transition: all.85s; // Mozilla
    -o-transition: all .8s; // Opera
    transition: all .8s;
    padding: 10px 0;

    background-color: hsla(218, 96, 18, .97);

    * {
        opacity: 100;
    }

    img {
        max-width: 136px !important;
    }

    /* this seems to fix it */
    ul {

        >li {
            a {
                color: #fff;

                &:hover {
                    color: $secundario !important;

                    &::after {
                        color: $secundario !important;
                    }
                }

                &::after {
                    color: #fff !important;
                }


            }

            &:last-child {
                a:hover {
                    color: #fff !important;
                }
            }
        }
    }

    /**cambiando color del toggler */
    .icon-toggler {
        div {
            background-color: #fff;
        }
    }

}




/*=====  End of Section estilos cuando hace scroll block  ======*/



/*=============================================
=            Boton de toggler menu            =
=============================================*/
.icon-toggler {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    background-color: $primary;
    width: 35px;
    height: 5px !important;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*=====  End of Boton de toggler menu  ======*/







@media (max-width: 991px) {
    #wrapper-navbar {
        position: relative;
        width: 100%;
        flex-direction: row-reverse;

        #main-nav {
            position: absolute !important;
            width: 100% !important;

            #navbarNavDropdown {
                position: absolute;
                top: 75px;
                width: 100%;
                z-index: 2 !important;
            }

            #btn-toggler {
                display: inline-block;
                padding: 0;
            }

            #main-menu {
                >li {
                    ul {
                        width: 100%;
                        margin: 0;
                        border: 1px solid #fff;

                        li {
                            a {
                                font-weight: 300;
                            }
                        }
                    }

                    a {
                        width: 100%;
                        color: #fff !important;
                        padding: 14px 8px;
                        background-color: $primary;

                        &:hover {
                            color: $secundario !important;

                        }

                        &::after {
                            color: #fff;
                        }
                    }



                    &.active {
                        border: none !important;
                    }

                    font-weight: 300;
                    text-transform: capitalize;

                    &:last-child {
                        a {

                            padding: 7px 8px;
                            border-radius: 0;
                            background-color: $primary;
                            color: #fff;

                            &:before {
                                width: 0% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*=============================================
=            Logotipo prinicipal            =
=============================================*/

.logo-agpe {
    img {
        max-width: 183px;
    }
}

@media (min-width: 992px) {

    .logo-agpe {
        img {
            max-width: 253px;
        }
    }
}

/*=====  End of Logotipo prinicipal  ======*/









/*=============================================
=            Banner paginas            =
=============================================*/



/*=====  End of Banner paginas  ======*/
