#home-quienes-somos {
    padding: 70px 0;
    color: $primary;

    h2 {
        font-weight: 600;
        @extend .h2;
        @include family('Montserrat');
        margin: 0;

        // Medium devices (tablets, 768px and up)
        @media (max-width:1200px) {
            margin: 21px 0;
        }
    }

    img {
        width: 100%;
        margin: 5px 0;
    }

    p {
        @extend .normal;
        padding-top: 14px;
        margin: 0;
    }

    a {
        margin-top: 21px;
        display: block;
        text-align: center;
        color: $secundario;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }
}



#que-hacemos-en-agpe {
    i {
        font-size: 4rem;
        padding-bottom: 21px;
    }

    h2 {
        @extend .h2;
        @include family('Montserrat');
        font-weight: 600;
    }


    .servicios {
        display: flex;
        margin-top: 45px;
        text-align: center;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .servicio {
            padding: 10px;


            @media (min-width: 992px) {
                &.border-card {
                    border-left: 2px solid $bordes;
                    border-right: 2px solid $bordes;
                }
            }

            h3 {
                @extend .h4;
                font-weight: 700;
            }

            @media (max-width: 992px) {
                padding: 21px 0;
            }

            a {
                margin-top: 21px;
                display: block;
                text-align: center;
                color: $secundario;
                font-weight: 500;
                text-decoration: none;
                cursor: pointer;
            }

            p {
                margin-top: 21px;
            }
        }
    }

    #parte-1 {
        color: $primary;
        padding: 70px 0;
        background-color: $bgbody;

        .texto-info {
            padding-top: 14px;
            font-weight: 600 !important;
        }
    }

    #parte-2 {
        color: #fff;
        padding: 70px 0;
        background-image: url($assets_path+'images/quienes-somos.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        .servicio {
            @media (min-width: 992px) {
                &.border-card {
                    border-left: 2px solid #fff;
                    border-right: none;
                }
            }
        }

    }
}



#quienes-somos-page {
    .banner-page {
        @extend .banner-style;
        background-image: url($assets_path+'images/quienes-somos.jpg');
    }

    .contenido {
        padding: 70px 0;
        color: $primary;

        h2 {
            +p {
                padding: 21px 0 0 0;
                font-weight: 700 !important;
            }

            @extend .h2;
            @include family('Montserrat');
            font-weight: 600;
        }

        p {
            padding: 10.5px 0;
        }

        img {
            width: 100%;
        }
    }


    #agpe-valores {
        background-color: $bgbody;

        #valores {
            display: flex;
            justify-content: space-between;

            @media (max-width: 992px) {
                display: block;
            }


            .valor {
                padding: 0 .8rem;

                @media (max-width: 992px) {
                    padding: 0;
                    text-align: center;

                    &:not(:first-child) {
                        padding: 21px 0;
                    }
                }

                h3 {
                    text-align: center;
                    @extend .h4;
                    @include family('Montserrat');
                    font-weight: 500;
                }

                p {
                    padding: 21px 0 0 0;
                    margin: 0;
                }
            }
        }
    }


    #seccion-clientes {
        h2 {
            @extend .h2;
            @include family('Montserrat');
            font-weight: 600;
        }

        p {
            padding: 21px 0;
            font-weight: 400 !important;
        }


        #clientes {
            display: flex;
            justify-content: space-between;
            align-items: center;


            @media (max-width: 768px) {
                display: block;
                text-align: center;

                a {
                    display: block;
                    margin: 14px 0;
                }
            }

            a {
                img {
                    padding: 14px 0;
                    max-width: 204px;
                }
            }



        }

    }

}
